.bi-activity{
    font-size: 50px;
    font-family: sans-serif;
    color: red;
}
.icon
    {
        font-size: 100px;
        font-family: 'Courier New', Courier, monospace;
        float: right;
        display: inline;
        padding: 0;
        margin: auto;
    }
.bi-alipay{
    font-size: 50px;
    font-family: sans-serif;
    color: gold;
}
.bi-airplane-engines-fill{
    font-size: 50px;
    font-family: sans-serif;
    color: black;
}